/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require_tree .
 */

.center_div{
	width: 25%; 
	margin: 0 auto; 
	text-align: center;
}

.wrapper {
	min-height: 69%;
	height: auto !important;
	height: 69%;
	margin: 0 auto -7.47em;
}
.footer, .push {
	height: 8em;
}
.error{
	background-color: #f2dede;
	border-color: #eed3d7;
}